# Python
__pycache__/
*.pyc
venv/
.venv/
env/
.python-version

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
.DS_Store

# Tamanho/sensível
*.log
.env

# Build metadata - gerado pelo workflow CI/CD
streamlit_app/build_info.json